.caldo{
   font-size: 32px;
   font-family: 'Times New Roman', Times, sans-serif;
}
.sandwich{
    font-size: 32px;
   font-family: 'Times New Roman', Times, sans-serif;
}
.breakfast{
    font-size: 32px;
   font-family: 'Times New Roman', Times, sans-serif;
}
.recipes{
color: forestgreen;
   font-family: 'Times New Roman', Times, sans-serif;
}